* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: rgb(152, 160, 160);
}
h1 {
  text-align: center;
}
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: 100px;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn button {
  background-color: greenyellow;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  color: white;
  padding: 2em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  box-shadow: 5px 4px ;
}
